<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
</head>
<body>
    <h1>Hello! Welcome to my incredibly simple blog app made with NodeJS</h1>
    <h2>I've pretty much made this for the sole purpose of learning NodeJS</h2>
    <div>
        <h3>This link below should take you to a list of blogs</h3>
        <div>
            <a href="/bloglist">Click Here!</a>
        </div>
    </div>
</body>
</html>